html,body {
    background-color: #d63e64;
    font-family: Noto Sans Display;
    height: 100%; 
    width: 100%; 
    margin: 0;
    color: white;
}

*:focus {
    outline: none;
}

@font-face {
    font-family: "Noto Sans Display";
    src: url("libraries/NotoSansDisplay-Thin.ttf");
}
@font-face {
    font-family: "Noto Sans Display";
    src: url("libraries/NotoSansDisplay-Bold.ttf");
    font-weight: bold;
}

.arrowDiv {
    width: 100%;
    font-size: 16pt;
    height: 40px;
    line-height: 40px;
    margin: auto;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
    right: 0;
    color: lightgray;

}
#landingArrowDiv{
    text-align: left;
}
#dsuArrowDiv{
    text-align: right;
}
#dsuArrowSpan, #landingArrowSpan {
    color: #ffffff;
    cursor: pointer;
}

#dsuArrowSpan:hover, #landingArrowSpan:hover {
    color: #ffffff;
}

.contentDiv {
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
    right: 0;
    margin: auto;
    margin-left: 80px; 
    margin-right: 80px; 
    height: 90%;
}

#searchBar {
    display: block;
    margin: auto;
    width: 205px;
    height: 20px;
    border: 3px solid white;
    border-radius: 25px;
    background-color: #d63e64;
    padding-left: 5px;
    color: white;
    text-align: center;
}

#searchBar::-webkit-input-placeholder {
    color:white;
}

#searchBar::-moz-placeholder {
    color:white;
}

#searchBar::-ms-placeholder {
    color:white;
}

#searchBar::placeholder {
    color:white;
}

#noApiLoaded{
    width: 90%;
    margin:auto;
    margin-top: 20px;
    text-align: center;
}

.dsuDiv {
    margin-top: 25px;
    width: 100%;
    height: 60px;
    border-radius: 25px;
    background-color: #ffffff;
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 20px 1fr 1fr 1fr 20px;
    grid-template-rows: 35px 0px 20px 5px;

    color: #d63e64;
}
.dsuLabel{
    font-size: 8pt;
    font-weight: bold;
}

.dsuSection {
    display: grid;
    grid-template-rows: 35% auto;
}
.expandDiv {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 5;
}

.sitesDiv {
    grid-column-start: 1;
    grid-column-end: 5;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 20px 1fr 1fr 1fr 20px;
    grid-template-rows: 20px auto;
    visibility: hidden;
    margin-top: 20px;
}

.sitesContent {
    grid-column: 2 / span 3;
}
.sitesRow {
    grid-column: 1 / span 3;
    height: 20px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
}
.expandSpan {
    cursor: pointer;
}

th.header { 
    background-image: url(../img/small.gif); 
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center left; 
    padding-left: 20px; 
    border-right: 1px solid #dad9c7; 
    margin-left: -1px; 
}

.addNewDiv {
    display:grid;
    width: 100%;
    grid-template-rows: 20px 20px;
    grid-template-columns: 30% 60% 5%;
    bottom: 0;
    grid-gap: 10px;
}
.addNewSpan {
    display: block;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
.putInput {
    width: 80%;
    height: 20px;
    border: 3px solid #d63e64;
    border-radius: 25px;
    background-color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;

    color: #d63e64;
    margin: auto;
    text-align: center;
}

.putInput::-webkit-input-placeholder {
    color:d63e64;
}

.putInput::-moz-placeholder {
    color:d63e64;
}

.putInput::-ms-placeholder {
    color:d63e64;
}

.putInput::placeholder {
    color:d63e64;
}



.tickSelector:hover {
    background-color: #d63e64;
    color:  white;
    cursor: pointer;
}

#dsuSelector:hover {
    background-color: #d63e64;
    color:  white;
    cursor: pointer;
}
#addDsuDiv {
    grid-column: 2 / span 3;
    grid-template-columns: 25% 40% 20% 5%;

}

#addDsuSpan {
    grid-column: 2 / span 3;
    margin-top: 0;
}

#addDsuOuterDiv {
    grid-gap: 2px;
    grid-template-rows: 20px 50px;
}